{
  "ConnectionStrings": {
    "DefaultConnection": "Server=localhost,[THE PORT YOU SET IN THE .ENV FILE WHEN RUNNING THE BACKEND];Database=IT-Ticket-db;User Id=sa;Password=[THE PASSWORD YOU SET IN THE .ENV FILE WHEN RUNNING THE BACKEND];TrustServerCertificate=True;",
    "_comment_DefaultConnection": "This is the connection string for the SQL Server database. Replace [THE PORT YOU SET IN THE .ENV FILE WHEN RUNNING THE BACKEND] and [THE PASSWORD YOU SET IN THE .ENV FILE WHEN RUNNING THE BACKEND] with your actual values. You find the values in the root of the repository in the .env file.",
  },
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "AllowedHosts": "*",
  "_comment_AllowedHosts": "This setting allows all hosts to access the application. For production, consider restricting this to specific domains.",
  "Cors": {
    "Origins": [ "http://localhost:3000" ],
    "Headers": [ "*" ],
    "Methods": [ "*" ]
  },
  "_comment_Cors": "This setting allows CORS requests from http://localhost:3000 (frontend). Adjust as necessary if you changed the frontend URL.",
  "Jwt": {
    "ValidIssuer": "IT-Ticket Issuer",
    "ValidAudience": "IT-Ticket Users",
    "IssuerSigningKey": "your-very-secure-key-here"
  },
  "_comment_Jwt": "This section contains JWT settings. Make sure to change the IssuerSigningKey to a secure key in production (the longer the better) LEAST 64 BIT!!!.",
  "DefaultAdminPassword": "admin123",
  "_comment_DefaultAdminPassword": "This is the default password for the admin user. Change it to something secure in production."
}